.catalog-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.catalog-bottom .question{
  width: 35rem;
  text-align: left;
  font-size: 2.5rem;
  text-transform: uppercase;

  color: var(--fourth-color);
}
.catalog-bottom .question span { 
  font-weight: 300;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 6rem;
}

.catalog-bottom .links {
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-bottom: 3rem;
}

.catalog-bottom .links a {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 2px solid var(--fourth-color); */
}

.catalog-bottom span {
  color: var(--first-color);
}

.catalog-bottom .arrow {
  width: 25rem;
  text-transform: uppercase;
  text-align: left;

  position: relative;
  overflow: hidden;
  display: block;
  text-align: start;
  text-decoration: none;
  color: grey;
  line-height: 46px;
  padding: 0 0 6px;
  transition: left 0.8s ease-in;
}

.catalog-bottom .arrow:before {
  content: "";
  position: absolute;
  bottom: 0;
  /* left: -100%; */
  width: 100%;
  height: 3px;
  background: var(--third-color);
}

.catalog-bottom .arrow:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: var(--fourth-color);
  transition: left .8s ease-in;
}

.catalog-bottom .arrow:hover:after {
  left: 0;
  color: var(--fourth-color);
}

.catalog-bottom .arrow:hover {
  color: var(--fourth-color);
}


  

@media screen and (max-width: 1024px) {
  .catalog-bottom .question {
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .catalog-bottom .question span {
    font-weight: 300;
    font-size: 1.5rem;
    display: unset;
    margin: 0;
  }

  .catalog-bottom .links{
    width: 100%;
    margin: 3rem;
    align-items: flex-end;
  }
}


@media screen and (max-width: 640px) {
  .catalog-bottom .question {
    width: auto;
  }

  .catalog-bottom .links {
    margin: 2rem;
    width: 100%;
  }
}