/* .product-view {
    margin: 0 5rem 3rem ;
} */

.product-header {
    background: url("../../assets/images/code.jpg") center no-repeat fixed;
    /* background-color: var(--fourth-color); */
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 90vh;
}
.product-header::before {
    background-color: rgba(0,0,125,0.25);
}



/*********** TITULO ***********/
.product-view .title {
    margin: 3rem 5rem;
    margin-top: -15rem;
    padding: 2rem;
    position: absolute;
    /* text-transform: uppercase; */
    background: rgb(232,232,232);
    background: linear-gradient(0deg, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
}

.product-view .title p,
.product-view .title h2 {
    width: 50%;
}
.product-view .title p {
    text-transform: uppercase;
}
.product-view .title span {
    font-weight: 700;
}

.product-view .title h2 {
    font-size: 3rem;
    font-family: 'Manrope';
    font-weight: 400;
    padding: 3rem 5rem 0;
}
.product-view .title button {
    border: none;
    background: none;
    font-size: 1rem;
    color: var(--first-color);
    padding-left: 5rem;
}



/*********** FACIL ***********/
.product-view .easy {
    padding-top: 15rem;
    background: rgb(232,232,232);
    background: linear-gradient(0deg, rgba(232,232,232,1) 100%, rgba(255,255,255,1) 0%);
}

.product-view .easy img{
    height: auto;
    width: 70%;
    object-fit: contain;
}

.product-view .easy .text{
    padding: 3rem 3rem 3rem 13rem;
}

.product-view .easy .text p {
    width: 40%;
}


/*********** COMO FUNCIONA ***********/
.product-view .how-works {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 3rem 5rem;
}

.product-view .how-works div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 70%;
}

.product-view .how-works p {
    width: 40%;
    padding: 0 1.5rem;
    text-align: justify;
}

.product-view .how-works img{ 
    margin-top: 3rem;
    width: 100%;
}

/* .product-view .video {
    width: 100%;
    height: 75vh;
    margin: 3rem 0;
} */



/*********** VENTAJAS ***********/
.adventages {
    padding: 5rem;
    color: #fff;
    background: var(--fourth-color);
}

.adventages h2 {
    text-align: center;
    margin-left: -6rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.adventages .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}



@media screen and (max-width: 1024px) {
    .product-view .how-works div {
        width: auto;
    }
}

