.testimonial-card {
    width: 18rem;
    height: 30rem;
    background: var(--fourth-color);
    color: #fff;
    padding: 3rem;
    align-self: center;
}

.testimonial-card img {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
}

.testimonial-card span {
    color: var(--second-color);
    margin: 0 1rem;
}

.testimonial-card h2 {
    color: var(--first-color);
}


.testimonial-card .description {
    text-align: justify;
}

@media screen and (max-width: 1024px) {
    .testimonial-card {
        width: 15rem;
    }
}