.product-bottom {
    background: var(--fourth-color);
    text-align: center;
    padding-bottom: 5rem;
}


.product-bottom .text {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-bottom .text h3 {
    width: 20rem;
    text-align: left;
}

.product-bottom .text p {
    width: 20rem;
    text-align: left;
}

.product-bottom .text button {
    width: 20rem;
    text-align: left;
    background: none;
    border: none;
    color: var(--first-color);
    font-size: 1rem;
    padding: 0;
}

.product-bottom .graphics-img {
    width: 100%;
}


@media screen and (max-width: 640px) {
    .product-bottom .text {
        padding: 3rem;
    }
    .product-bottom .text h3,
    .product-bottom .text p,
    .product-bottom .text button {
        width: auto;
    }
    .product-bottom .text h3 {
        text-align: center;
    }
    .product-bottom .text p
    .product-bottom .text button  {
        text-align: left;
    }

    .product-bottom .text button {
        margin-top: 1rem;
        font-size: 0.95rem;
    }

}