.contact-form {
    padding: 5rem;
    display: flex;
}

.contact-form .title {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--fourth-color);
    width: 50%;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.contact-form form input, 
.contact-form form button {
    padding: 0.5rem 0rem;
    font-weight: 500;
}

.contact-form form input,
.contact-form form label {
    width: 100%;
    font-size: 1rem;
    border: none;
    margin-bottom: 0.5rem;
}

.contact-form form input {
    margin-bottom: 2.5rem;
    border-bottom: 1px solid gray;
}

.contact-form form .bottom-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-form form .bottom-form a {
    text-decoration: underline;
}

.contact-form form button {
    margin-top: 1rem;
    font-size: 1.25rem;
    border: none;
    background: none;
}
