.contact-bottom {
    padding: 5rem;
    background: #000;
    color: #fff;
}

.contact-bottom .main {
    display: flex;
}
.contact-bottom .main .text,
.contact-bottom .main .video {
    width: 50%;
}

.contact-bottom .main .video video {
    width: 100%;
    /* position: fixed;
    z-index: 10; */
}

.contact-bottom .main .text h3 {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.contact-bottom .main .text button {
    font-size: 1rem;
    background: none;
    border: none;
    color: var(--second-color);
    margin-bottom: 5rem;
}

.contact-bottom .social-media {
    display: flex;
}

.contact-bottom .social {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    width: 50%;
}

.contact-bottom .social.main button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    text-align: left;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.contact-bottom .social h3 {
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

.contact-bottom .social.second {
    display: flex;
    flex-direction: row;
}

.contact-bottom .container {
    padding-right: 1rem;
    width: 50%;
}



@media screen and (max-width: 1024px) {
    .contact-bottom {
        padding: 3.5rem;
    }
    
    .contact-bottom .main .text h3 {
        font-size: 3rem;
    }
}


@media screen and (max-width: 640px) {
    .contact-bottom .main {
        flex-direction: column;
        margin-bottom: 3rem;
    }
    .contact-bottom .main .text,
    .contact-bottom .main .video {
        width: 100%;
    }
    .contact-bottom .social-media {
        flex-direction: column;
    }
    .contact-bottom .social {
        width: 100%;
    }
    .contact-bottom .container {
        padding: 0;
        width: 100%;
    }
}