.category {
    margin: 3rem 0;
    background: #1C1C1E;
    color: #fff;
    padding: 1rem 2rem 2.5rem;
    border-radius: 1rem;
}

.cat-card {
    width: 15rem;
    height: 22rem;
    margin-right: 3rem;
    background: #753399;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.cat-card .swiper-main {
    width: 90%;
    margin: 0 5rem;
    background: #1C1C1E;
}
.cat-card .swiper {
    height: 25rem;
    display: flex;
    align-items: center;
}
.cat-card .swiper-wrapper {
    height: auto;
}

.cat-card img {
    height: 8rem;
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
}

.cat-card .card-title, .cat-card .card-description {
    width: 80%;
    margin: 0.5rem 0;
}

.cat-card .card-title {
    color: #CDFB4F;
    text-align: left;
}

.cat-card .card-description {
    color: #fff;
    text-align: left;
}

.cat-card .watch-more {
    background: #CDFB4F;
    border: 1px solid #CDFB4F;
    color: #753399;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    align-self: flex-end;
    margin-top: 2rem;
    margin-right: 2rem;
    transition: all 0.5s ease-in-out;
}

.cat-card .watch-more:hover {
    cursor: pointer;
    color: #CDFB4F;
    background: #753399;
    border: 1px solid #CDFB4F;
}