.marketplace-body .body{
    background: rgb(205,251,79);
    background: linear-gradient(0deg, rgba(205,251,79,1) 30%, rgba(0,0,0,1) 100%);
}

.marketplace-body .body {
    padding: 5rem 0;
    display: flex;
}

.marketplace-body .body .images, 
.marketplace-body .body .resume {
    width: 50%;
}

.marketplace-body .images img {
    height: 15rem;
    margin: 2rem 1rem;
}

.marketplace-body .body .resume .title {
    font-size: 3.5rem;
    font-weight: 300;
}

.marketplace-body .body .resume p {
    width: 30rem;
}

.marketplace-body .benefits h2 {
    margin: 5rem 0 2rem;
    margin-left: 7vw;
    /* padding: 5rem; */
}
.marketplace-body .benefits .content {
    display: flex;
    justify-content: space-evenly;
}

.marketplace-body .benefits button {
    /* display: block; */
    position: absolute;
    right: 4rem;
    font-size: 1.25rem;
    text-align: right;
    background: none;
    border: none;
    color: var(--first-color);
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin: 0 2rem;
}

.marketplace-body .benefits button:hover {
    color: var(--fourth-color);
    transform: translateX(15px);
}


.benefit {
    background: var(--fourth-color);
    width: 15rem;
    height: 20rem;
    margin: 2rem;
    padding: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.benefit .icon {
    height: 3rem;
    margin: 2rem 0 0;
}


.benefit .benefit-title {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--second-color);
}
.benefit .benefit-title,
.benefit p {
    text-align: left;
}