
.adventage {
    width: 25rem;
    display: flex;
    margin: 1rem;
}

.adventage .icon {
    height: 3rem;
    width: 3rem;
    padding: 1.5rem;
    object-fit: contain;
}


.adventage h3 {
    color: var(--third-color);
    font-size: 1.2rem;
    font-weight: 300;
}