.navig{
    height: 50px;
    padding-top: 5vw;
}
.navig .logo{
    width: 10vw;
    height: 10vw;
}
.navig .icon{
    position: absolute;
    top:3vw;
    display: block;
    float: left;
    padding-left: 10vw;
    font-size: 1.3vw;
    color: white;
}
.menu{
    position: relative;
    float: right;
    width: 50%;
    margin-right: 0px;
    font-size: 1.2vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li{
    display: flex;
    align-items: center;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
    transition: all 0.5s;
}
.menu li:hover {
    color: #5f5682 !important;
    text-shadow: 2px 2px 3px white;
}

.menu .flag {
    width: 2rem;
    height: auto;
}

.navig .nav-button {
    visibility: hidden;
}


/* Tablet Size */
@media screen and (max-width: 1024px) {
    .navig .icon {
        padding-left: 7vw;
        margin-top: 2rem;
    }
    .navig .logo {
        width: 15rem;
        height: auto;
    }
    .menu li {
        margin-top: 3rem;
    }
    .menu li a{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 760px) {
    
    /****** NAVBAR ******/
    .navig .icon {
        margin-top: -1rem;
    }
    .navig .logo {
        width: 10rem;
        height: auto;
    }
    .navig .nav-button {
        margin-top: 1rem;
        margin-right: 1rem;
        visibility: visible;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        cursor: pointer;
        border: none;
        background: none;
        z-index: 10;
    }
    .navig {
        padding-top: 0 !important;
    }
    .menu li {
        margin: 2rem 0;
    }
    .menu li a{
        font-size: 2rem;
    }
    .menu {
        visibility: hidden;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        padding-top: 5rem;
        left: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .menu.active {
        visibility: visible;
        background: #753399;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        /* z-index: 10; */
    }
}