.contact-header {
    height: 100vh;
    background: url("../../assets/images/conocenos/Fondo.jpg") center no-repeat fixed;
    background-size: cover;
    color: white;
}

.contact-header .title {
    font-family: var(--text-font);
    padding-top: 10vw;
    padding-left: 10vw;
    width: 60vw;
    font-size: 4.3vw;
    font-weight: 300;
    text-transform: uppercase;
    color: #CDFB4F;
}

.contact form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* width: 30rem; */
    padding: 5rem;
}

.contact form input, .contact form button {
    padding: 0.5rem 1rem;
    font-weight: 500;
    border-radius: 0.25rem;
}

.contact form input {
    width: 50%;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 2px solid gray;
}

.contact form button {
    margin-top: 1rem;
    color: #fff;
    font-size: 1.25rem;
    background: #753399;
    border: #753399;
}

.calendly {
    padding: 5rem;
}

.calendly h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: grey;
}

.calendly button {
    height: 30rem;
    width: 100%;
    font-size: 3rem;
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    background: #753399;
}