.marketplace-list {
    padding: 5rem;
    background: #000;
}


@media screen and (max-width: 768px) {
    .marketplace-list {
        padding: 2rem;
    }
    .marketplace-list .market {
        flex-direction: column;
    }
    .marketplace-list .market div {
        width: 100% !important;
    }
}