/* Estilos del Footer */

.footer{
    background: var(--fourth-color);
    color: white;
    height: 100vh;
    z-index: 0;
    padding: 5rem;
}

.footer .logo {
    height: 5rem;
}

.footer h3 {
    border-bottom: 2px solid gray;
    padding-bottom: 1rem;
    width: 15rem;
}

.footer .data {
    display: flex;
    justify-content: space-around;
}
.footer .data .left,
.footer .data .right {
    width: 50%;
}

/* Left Side */
.footer .left .footer-menu {
    padding: 0;
    margin-bottom: 3rem;
}
.footer .left .footer-menu li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 1.25rem 0;
    transition: all 0.5s ease;
}
.footer .left .footer-menu li a {
    color: #fff;
}

.footer .left .footer-menu li:hover {
    transform: translateX(10px);
}
.footer .left .footer-menu li:hover a {
    color: var(--second-color);
}

.footer .copy{
    font-size: 1rem;
    color: gray;
}



/* Right Side */
.footer .right{
    display: flex;
    justify-content: flex-start;
}




@media screen and (max-width: 960px) {
    .footer{ 
        height: auto;
    }
    .footer .data {
        margin-top: 3rem;
    }
    .footer .correo {
        padding-top: 3rem;
        font-size: 1.45rem;
    }
    .footer .data {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .footer .right {
        padding: 0 3rem;
    }

    .footer .right li{ 
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }

    .footer .direccion {
        padding: 1rem 3rem;
        font-size: 1.2rem;
    }

    .footer .copy{
        font-size: 1.2rem;
        padding: 1rem 4rem;
        padding-bottom: 6rem;
    }
}


@media screen and (max-width: 640px) {
    .footer .socials{
        display: flex;
        justify-content: flex-start;
        margin-left: 1rem;
    } 

    .footer .socials li{
        margin-right: 1.5rem;
        /* margin-bottom: 2rem; */
    }
    
    .footer .copy{
        font-size: 1.2rem;
        margin-left: 2.5rem;
        padding: 0;
        padding-bottom: 6rem;
    }
}