/* Estilos del Footer */

#footer{
    background-image: url("../../assets/images/PiePagina.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    height: 100vh;
}

#footer .correo {
    font-size: 5vw;
    text-align: center;
    font-weight: 300;
    padding-top: 5vw;
    transition: all 0.5s ease-in;
}
#footer .correo a {
    color: #fff;
}

#footer .correo:hover{
    transition: all 0.5s ease-in;
    text-decoration: underline;
}

#footer .data {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer .direccion {
    font-size: 1.4vw;
    padding: 0 0.5rem;
    margin-bottom: 2rem;
}
#footer .direccion span {
    font-size: larger;
    font-weight: 600;
}
#footer .direccion a {
    cursor: pointer;
    color: #fff;
}

#footer .socials{
    display: flex;
    justify-content: space-evenly;
} 
#footer .socials li{
    text-decoration: none;
    list-style: none;
    margin-right: 4vw;
    margin-bottom: 2rem;
}

#footer .copy{
    font-size: 1.4vw;
}

#footer .right{
    display: flex;
    flex-direction: column;
}

#footer .right li{
    list-style: none;
    padding-bottom: 3vw;
    font-size: 1.4vw;
}
#footer .right li a:hover{
    color: #5f5682 !important;
    text-shadow: 2px 2px 3px white;
}



@media screen and (max-width: 960px) {
    #footer{ 
        height: auto;
    }
    #footer .data {
        margin-top: 3rem;
    }
    #footer .correo {
        padding-top: 3rem;
        font-size: 1.45rem;
    }
    #footer .data {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    #footer .right {
        padding: 0 3rem;
    }

    #footer .right li{ 
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }

    #footer .direccion {
        padding: 1rem 3rem;
        font-size: 1.2rem;
    }

    #footer .copy{
        font-size: 1.2rem;
        padding: 1rem 4rem;
        padding-bottom: 6rem;
    }
}


@media screen and (max-width: 640px) {
    #footer .socials{
        display: flex;
        justify-content: flex-start;
        margin-left: 1rem;
    } 

    #footer .socials li{
        margin-right: 1.5rem;
        /* margin-bottom: 2rem; */
    }
    
    #footer .copy{
        font-size: 1.2rem;
        margin-left: 2.5rem;
        padding: 0;
        padding-bottom: 6rem;
    }
}