.contact-header {
    height: auto;
    background: url("../../../assets/images/contacto-bg.jpg") center no-repeat fixed;
    background-size: cover;
    color: white;
}

.contact-header .top{
    padding-top: 7vw;
    padding-left: 10vw;
    font-size: 1rem;
    text-transform: uppercase;
}

.contact-header .title {
    font-family: "Florence";
    padding-top: 5vw;
    padding-left: 10vw;
    width: 60vw;
    font-size: 4.3vw;
    font-weight: 300;
    line-height: 1rem;
    text-transform: uppercase;
    color: #FFF;
}

.contact-header .subtitle {
    font-family: 'Florence Outline', sans-serif;
    font-size: 6.5vw;
}

.contact-header .bottom-text {
    display: flex;
    padding-bottom: 2rem;
    /* margin-top: 2rem; */
}

.contact-header .bottom-text p {
    margin-top: 2rem;
}
.contact-header .bottom-text p, .contact-header .bottom-text .buttons {
    width: 50%;
    padding: 1rem 5rem;
}

.contact-header .bottom-text .contact-button,
.contact-header .bottom-text .meet-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid #fff;
    width: auto;
}

.contact-header .bottom-text .contact-button p,
.contact-header .bottom-text .meet-button p {
    width: auto;
    padding: 0.5rem 1rem;
}

.contact-header .bottom-text span {
    color: var(--second-color);
}