.inner-cursor {
    position: fixed;
    left: 10px;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);
    background: var(--first-color);
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s height 0.5s ease-in-out;
    z-index: 2;
}

.inner-cursor.grow {
    width: 25px;
    height: 25px;
    transition: width 0.5s height 0.5s ease-in-out;
}

.outer-cursor {
    position: fixed;
    left: 10px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    border: 1px solid var(--first-color);
    mix-blend-mode: difference;
    border-radius: 50%;
    /* z-index: 2; */
    /* transition: 0.1s; */
}